.join-layout {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .join-form {
      width: 368px;
      margin: 0 auto;

      .logo {
        text-align: center;
        margin: 60px 0 34px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .join-form-button {
      width: 100%;
      margin: 12px 0;
    }

    .back-to-login {
        float: right;
        padding: 0 !important;
    }
}
  